html {
  font-family: $font-family;

  .v-application {
    [class*="text-"] {
      font-family: $font-family, sans-serif !important;
    }
    font-family: $font-family, sans-serif !important;
  }

  .elevation-10 {
    box-shadow: $box-shadow !important;
  }
  .elevation-5 {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.34) !important;
  }
  .v-card-text {
    padding: 20px 30px 30px;
  }
  .v-card-header {
    padding: 30px 30px 0.625rem;
  }
  .v-card-actions {
    padding: 0.625rem 30px 30px;
  }
  .v-card {
    border-radius: 6px;
    width: 100%;
    box-shadow: $box-shadow !important;
  }
  .v-card-subtitle {
    opacity: 1;
  }
  .v-btn {
    text-transform: capitalize;
    letter-spacing: $btn-letter-spacing;
    transition: 0.05 ease-in;
    &:hover {
      transform: scale(1.05);
    }
  }
  .v-btn-group .v-btn {
    height: inherit !important;
  }

  .v-navigation-drawer__scrim.fade-transition-leave-to {
    display: none;
  }

  .theme-carousel .v-carousel__progress {
    position: absolute;
  }
  .v-theme--light,
  .v-theme--dark {
    --v-theme-on-warning: 255, 255, 255;
    --v-theme-on-success: 255, 255, 255;
    --v-theme-on-secondary: 255, 255, 255;
  }
  .v-card.w-auto {
    width: auto !important;
  }

  .img-responsive {
    max-width: 100% !important;
    height: auto;
  }

  // MODS FORM PEDIDOS
  .v-fullwidth-form {
    @media (max-width: 640px) {
      margin: 0 !important;
      padding: 0 !important;

      overflow: unset !important;

      .v-container, .v-card {
        margin: 0 !important;
        padding: 0 !important;
      }

      .v-card-text {
        padding: 20px 10px 30px !important;
      }

      .v-table {
        height: 100vh;

        thead {
          display: none !important;
        }

        tr {
          display: initial;

          td {
            align-items: center;
            display: flex;
            justify-content: space-between;

            height: auto;
            min-height: 48px;

            &:last-child {
              margin-bottom: 16px;
            }
          }
        }

        th:first-child, td:first-child {
          display: none !important;
        }

        input {
          width: 100px;
        }
      }
    }
  }

  .v-seller-table {
    max-height: 48vh !important;
    overflow: auto;

    @media (max-width: 1024px) {
      max-height: 34vh !important;
    }

    @media (max-width: 640px) {
      //max-height: 44vh !important;
      height: auto !important;
      max-height: none !important;

      position: sticky;
      top: 60px;
    }
  }
}
